{% extends './base.html' %}

{% load static %}

{% block content %}

<style>
  .bg-faded {
    background-image: url('images/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgba(255, 255, 255, 0.5);
  }  
</style>

  <section class="py-4 text-center container bg-faded">

    <div class="row py-lg-5">
    
        <div class="col-lg-6 col-md-8 mx-auto">
            

            <h4> The best tool for your Revenue Management. </h4>


            <br>
            

            <p class="lead text-muted">

            Let's start your jorney

            </p>


            <br>
            

            {% if request.user.is_authenticated %}

            <h4 class = "test-center"> Welcome to 3lilhub! {{user}}</h4>

            {% else %}

            <a href="{% url "account:register" %}" class="btn btn-primary my-2"> Register </a>
            <a href="{% url "account:my-login" %}" class="btn btn-primary my-2"> Login </a>

            {% endif %}

            <br><br>
            <img src="{% static 'images/logo.png' %}" class="img-fluid mb-4" alt="Logo">
            <h2 class="text-center">3lilhub</h2>
            {% comment %} <h2 class="text-center">包剪揼</h2> {% endcomment %}
            
        </div>
    
    </div>


    </section>

    <section>
        <div class="album py-5 bg-light">
        
            <div class="container">
            
              <div class="pb-3 h3"> 3lilhub 成員 </div>
        
        
              <hr><br>
        
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            
                <div class="col">
                    <div class="card shadow-sm">
                      <img class="img-fluid" alt="Responsive image" src="{% static 'images/grace.jpeg' %}">
                      <div class="card-body">
                          <h5 class="card-title">Grace</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Lai Nok Ching</h6>
                          <a href="https://www.linkedin.com/in/grace-lai/" class="btn btn-primary" target="_blank">LinkedIn</a>
                        <div class="d-flex justify-content-between align-items-center">
                        <h5> </h5>
                        </div>
                      </div>
                    </div>
                </div> 

                <div class="col">
                    <div class="card shadow-sm">
                      <img class="img-fluid" alt="Responsive image" src="{% static 'images/juno.jpeg' %}">
                      <div class="card-body">
                          <h5 class="card-title">Juno</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Tsang Chun Lung</h6>
                          <a href="https://www.linkedin.com/in/juno-tsang-308813228/" class="btn btn-primary" target="_blank">LinkedIn</a>
                        <div class="d-flex justify-content-between align-items-center">
                        <h5> </h5>
                        </div>
                      </div>
                    </div>
                </div> 

                <div class="col">
                    <div class="card shadow-sm">
                      <img class="img-fluid" alt="Responsive image" src="{% static 'images/kyle.jpeg' %}">
                      <div class="card-body">
                          <h5 class="card-title">Kyle</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Yeung Chiu Pang</h6>
                          <a href="https://www.linkedin.com/in/kyle-yeung-1497ba208/" class="btn btn-primary" target="_blank">LinkedIn</a>
                        <div class="d-flex justify-content-between align-items-center">
                        <h5> </h5>
                        </div>
                      </div>
                    </div>
                </div> 



{% comment %} 

                <div class="col">
                    <div class="card shadow-sm">
                      <img class="img-fluid" alt="Responsive image" src="{% static 'images/grace.jpeg' %}">
                      <div class="card-body">
                          <h5 class="card-title">CEO</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Grace Lai</h6>
                          <a href="https://www.linkedin.com/in/grace-lai/" class="btn btn-primary" target="_blank">LinkedIn</a>
                        <div class="d-flex justify-content-between align-items-center">
                        <h5> </h5>
                        </div>
                      </div>
                    </div>
                </div> 

                <div class="col">
                    <div class="card shadow-sm">
                      <img class="img-fluid" alt="Responsive image" src="{% static 'images/juno.jpeg' %}">
                      <div class="card-body">
                          <h5 class="card-title">CTO</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Juno Tsang</h6>
                          <a href="https://www.linkedin.com/in/juno-tsang-308813228/" class="btn btn-primary" target="_blank">LinkedIn</a>
                        <div class="d-flex justify-content-between align-items-center">
                        <h5> </h5>
                        </div>
                      </div>
                    </div>
                </div> 

                <div class="col">
                    <div class="card shadow-sm">
                      <img class="img-fluid" alt="Responsive image" src="{% static 'images/kyle.jpeg' %}">
                      <div class="card-body">
                          <h5 class="card-title">CIO</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Kyle Yeung</h6>
                          <a href="https://www.linkedin.com/in/kyle-yeung-1497ba208/" class="btn btn-primary" target="_blank">LinkedIn</a>
                        <div class="d-flex justify-content-between align-items-center">
                        <h5> </h5>
                        </div>
                      </div>
                    </div>
                </div>  {% endcomment %}




{% comment %} 
                <div class="col">
                    <div class="card shadow-sm">
                      <img class="img-fluid" alt="Responsive image" src="{% static 'images/niki.jpeg' %}">
                      <div class="card-body">
                          <h5 class="card-title">CMO</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Niki Ho</h6>
                          <a href="https://www.linkedin.com/in/nikiho/" class="btn btn-primary" target="_blank">LinkedIn</a>
                        <div class="d-flex justify-content-between align-items-center">
                        <h5> </h5>
                        </div>
                      </div>
                    </div>
                </div> 

                <div class="col">
                    <div class="card shadow-sm">
                      <img class="img-fluid" alt="Responsive image" src="{% static 'images/nathalie.jpeg' %}">
                      <div class="card-body">
                          <h5 class="card-title">CHRO</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Nathalie Yan</h6>
                          <a href="https://www.linkedin.com/in/nathalie-yan-654675226/" class="btn btn-primary" target="_blank">LinkedIn</a>
                        <div class="d-flex justify-content-between align-items-center">
                        <h5> </h5>
                        </div>
                      </div>
                    </div>
                </div> 
            
                <div class="col">
                  <div class="card shadow-sm">
                    <img class="img-fluid" alt="Responsive image" src="{% static 'images/cecilia.jpeg' %}">
                    <div class="card-body">
                        <h5 class="card-title">UFO</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Cecilia Lam</h6>
                        <a href="https://www.linkedin.com/in/cecilialamsy/" class="btn btn-primary" target="_blank">LinkedIn</a>
                      <div class="d-flex justify-content-between align-items-center">
                      <h5> </h5>
                      </div>
                    </div>
                  </div>
                </div> {% endcomment %}
            
                    
            
              </div>
            </div>
          </div>
    </section>

{% endblock %}